<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<div layout:fragment="form">
		<br>
		<form action="" method="post" th:object="${pelicula}" enctype="multipart/form-data">
			<div class="mb-3">
				<label for="titulo" class="form-label">Titulo:</label>
				<input type="text" id="titulo" placeholder="Digite el titulo" class="form-control" th:field="*{titulo}">
				<div class="invalid-feedback" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></div>
			</div>

			<div class="mb-3">
				<label for="sinopsis" class="form-label">Sinopsis:</label>
				<textarea id="sinopsis" placeholder="Digite la sinopsis" class="form-control"
					th:field="*{sinopsis}"></textarea>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('sinopsis')}" th:errors="*{sinopsis}"></div>
			</div>

			<div class="mb-3">
				<label for="fechaEstreno" class="form-label">Fecha de estreno:</label>
				<input type="date" id="fechaEstreno" placeholder="Digite la fecha de estreno" class="form-control"
					th:field="*{fechaEstreno}">
				<div class="invalid-feedback" th:if="${#fields.hasErrors('fechaEstreno')}" th:errors="*{fechaEstreno}">
				</div>
			</div>

			<div class="mb-3">
				<label for="trailer" class="form-label">Trailer:</label>
				<input type="text" id="trailer" placeholder="Coloque el id del trailer" class="form-control"
					th:field="*{trailer}">
				<div class="invalid-feedback" th:if="${#fields.hasErrors('trailer')}" th:errors="*{trailer}"></div>
			</div>

			<div class="mb-3">
				<label for="portada" class="form-label">Portada:</label>
				<input type="file" name="portada" id="portada" class="form-control" th:field="*{portada}">
				<div class="invalid-feedback" th:if="${#fields.hasErrors('portada')}" th:errors="*{portada}"></div>
			</div>

			<div class="mb-3">
				<label for="generos" class="form-label">Genero:</label>
				<select id="generos" class="form-control" th:field="*{generos}" multiple>
					<option th:each="genero:${generos}" th:value="${genero.idGenero}" th:text="${genero.titulo}"></option>
				</select>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('generos')}" th:errors="*{generos}"></div>
			</div>

			<div class="text-end">
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>

		</form>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	<div layout:fragment="scripts" th:remove="tag"></div>


</body>

</html>