<html xmlns:th="https://www.thymeleaf.org" layout:decorate="~{master.html}">
<html>
<head>
<meta charset="UTF-8">
<title>Reporte de Salas</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div layout:fragment="content">
	<div class="row">
		<div class="column"></div>
		<div class="column">
			<h3>Reporte de Salas</h3>
			<form action="/reporteSalas" method="post">
				<label for="codtipoSala">Codigo:</label> 
				<select class="form-control" name="codtipoSala" id="codtipoSala">
					<option selected>Seleccione</option>
					<option th:each="option : ${listaTipoSala}" th:value="${option.codtipoSala}" th:text="${option.tipoSala}"></option>
				</select>
				<br>
				<button type="submit" name="listar" class="btn btn-success">Listar Salas</button>
			</form>
		</div>
		<div class="column"></div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>