<html xmlns:th="https://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Reporte de Peliculas</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="container">
	<div class="row">
		<div class="column"></div>
		<div class="column">
			<h3>Reporte de Peliculas</h3>
			<form action="/reportePelis" method="post">
				<label for="idGenero">Genero:</label> 
				<select class="form-control" name="idGenero" id="idGenero">
					<option selected>Seleccione</option>
					<option th:each="option : ${listaGeneros}" th:value="${option.idGenero}" th:text="${option.titulo}"></option>
				</select>
				<br>
				<button type="submit" name="listar" class="btn btn-success">Listar Peliculas</button>
			</form>
		</div>
		<div class="column"></div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>